<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="/mystyle.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/about.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>

</head>

<body>
    <center>
        <h1>Student LaPIS Report</h1>
            <label for="school-names">School Name:</label>
            <select class="dropdowns" name="school-names" id="select-school" onchange="selectClass()">
                <!-- <option value="None">Select School Name</option>    -->
            </select>

            <label for="class">Class:</label>
            <select class="dropdowns" name="class" id="class" onchange="selectSection()">
                <option value="None">Select Class</option>
            </select>

            <label for="Section">Section:</label>
            <select class="dropdowns" name="section" id="Section" onchange="NameStudent()">
                <option value="None">Select Section</option>
            </select>

            <label for="student-name">Name:</label>
            <select class="dropdowns" name="student-name" id="student-names"  >
                <option value="None">Select Student Name</option>
            </select>
            <label for="student-name">Subject:</label>
            <select class="dropdowns" name="student-name" id="student-names"  >
                <option value="None">Select Subject</option>
            </select>
            <br><br><br>
            <button style="background-color:black ;color: white;" type="submit" onclick="createTable()">Preview</button>
            &#160;&#160;
            <button style="background-color:black ;color: white;" type="submit">Generate Report</button>

        <br>
        <br>

    <table border="2" class = "Table">
        <!-- <tr>
            <th>Schoo Name</th>
            <th>Class</th>
            <th>Section</th>
            <th>Name</th>
        </tr>

        <tr>
            <td>Lotus public schol</td>
            <td>7</td>
            <td>A</td>
            <td>Chandra Shekar</td>
        </tr> -->
    </table>

        <script src="./index.js"></script>
    </center>
</body>

</html>